---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

		<h1>My fisrt Astro Site!</h1>
        <h1>Blog</h1>
        <h2>This is my first Post!</h2>

        <p>This is my first Astro Blog and I build it with the help of the Astro tutorial.</p>
        <p>This is the third page I build, after i deplyed that via Github and Netifly!</p>
	</body>
</html>
